$navbar-buttons-active: #FF9532;

$services-bg: #407C8C;

$text-muted: #F5F5F5;

$input-placeholder: #BBB;

$text-danger: #E74C3C;

$business-summary-font: #40608C;

$btn-xl-bg: #F92D6D;

$btn-xl-bg-hover: #FF3A78;

$navbar-buttons-active-mockup-hover: #FD9D43;

$results-bg: #E8FAFF;

$ad-border: #ccc;